@using (Html.BeginForm("ObtenerIp", "Home", FormMethod.Post))
{
    <div class="text-center">
        <h1 class="display-4">Prueba tecnica Datarial</h1>
    </div>
}

@{
    ViewData["Title"] = "Home";
}